* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

p, a, h1, h2 {
    color: #333;
    line-height: 1.6;
}

body, html {
    background-color:floralwhite;
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    display: block
}

header {
    position: relative;
    height: 100vh;
    background: url('./media/headerImage.jpg') no-repeat center center/cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    display: block;
}

body {
    font-family: 'Garamond', serif;
}

header nav .logo img {
    display: flex;
    height: 4rem;
    width: 4rem;
    gap: 10px;
    border-radius: 50%;
}

header nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

ul {
    list-style: none;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #e3884f;
}

a:visited {
    color: #333;
}

main {
    padding: 5% 10%;
    text-align: center;
}

main section {
    margin: 2% 0;
}

@media (max-width: 1440px) {
    main {
        padding: 5% 8%;
    }

    main section {
        margin: 3% 0;
    }
}

@media (max-width: 1080px) {
    main {
        padding: 5% 6%;
    }

    main section {
        margin: 5px 0;
    }
}

h1 {
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: clamp(2rem, 4vw, 5rem);
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

p {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.5rem;
    line-height: 1.6;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#logo-about {
    display: flex;
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

#about iframe.about-video {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    margin-top: 2em;
    display: block;
    border: none;
}

#menu {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 5rem;
}

.list-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

ul li hr {
    border: none;
    background-color: #333;
    border-top: 3px solid #333;
    width: 2rem;
    margin: 2rem;
    justify-self: center;
}

.list-menu li {
    font-size: 1.2rem;
    text-align: center;
}

#menu img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: fill;
}

@media (max-width: 1080px) {
    #menu {
        flex-direction: column;
        align-items: center;
    }

    .list-menu li {
        font-size: 1.1rem;
    }
}

.about-click {
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.5em;
    font-weight: bold;
}

.about-click:hover {
    background-color: #333;
}

